@font-face {
  font-family: "iconfont"; /* Project id 4219403 */
  src: url('//at.alicdn.com/t/c/font_4219403_df1s3ep89mo.woff2?t=1692629263210') format('woff2'),
       url('//at.alicdn.com/t/c/font_4219403_df1s3ep89mo.woff?t=1692629263210') format('woff'),
       url('//at.alicdn.com/t/c/font_4219403_df1s3ep89mo.ttf?t=1692629263210') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e7ae";
}
